# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
loglevel.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
ehthumbs.db

# Dependencies
node_modules
.pnp
.pnp.js

# TypeScript
*.tsbuildinfo

# Production / Build Output
dist
dist-ssr
dist-electron
release
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Electron Builder
dist_electron/
out/
